src/MQTT/flow.json
[
  {
    "id": "8b880271ad748015",
    "type": "tab",
    "label": "Intersection Coopérative",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Broker Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered_controller",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "tab_intersection_ui",
    "type": "ui_tab",
    "name": "Intersection",
    "icon": "traffic",
    "order": 1
  },
  {
    "id": "group_mode_ui",
    "type": "ui_group",
    "name": "Contrôle",
    "tab": "tab_intersection_ui",
    "order": 1,
    "disp": true,
    "width": "6"
  },
  {
    "id": "group_feu_ui",
    "type": "ui_group",
    "name": "État des Feux",
    "tab": "tab_intersection_ui",
    "order": 2,
    "disp": true,
    "width": "6"
  },
  {
    "id": "group_robots_ui",
    "type": "ui_group",
    "name": "Robots détectés",
    "tab": "tab_intersection_ui",
    "order": 3,
    "disp": true,
    "width": "12"
  },
  {
    "id": "35489c70719908bf",
    "type": "mqtt in",
    "z": "8b880271ad748015",
    "name": "Positions Robots",
    "topic": "robots/+/position",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "inputs": 0,
    "x": 120,
    "y": 80,
    "wires": [["92b0ba8e05a9033b", "4942c9a30a7b2c34"]]
  },
  {
    "id": "mqtt_distances",
    "type": "mqtt in",
    "z": "8b880271ad748015",
    "name": "Distances Robots",
    "topic": "robots/+/distance",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "inputs": 0,
    "x": 120,
    "y": 140,
    "wires": [["4942c9a30a7b2c34"]]
  },
  {
    "id": "92b0ba8e05a9033b",
    "type": "debug",
    "z": "8b880271ad748015",
    "name": "Debug Positions",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 380,
    "y": 80,
    "wires": []
  },
  {
    "id": "4942c9a30a7b2c34",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Gestion Intersection (X robots)",
    "func": "// ========================================\n// GESTION INTERSECTION - 3 MODES\n// ========================================\n\nvar robots = global.get('robots') || {};\nvar mode = global.get('mode') || 'feu';\nvar zoneConflit = global.get('zoneConflit') || { occupee: false, robot: null };\nvar listePresence = global.get('listePresence') || [];\n\nvar data = msg.payload;\nvar topic = msg.topic;\nvar parts = topic.split('/');\nif (parts.length < 2) return null;\nvar robotId = parts[1];\n\nvar isDistance = topic.includes('/distance');\nvar isPosition = topic.includes('/position');\n\n// ========== MISE À JOUR DES INFOS ==========\nif (isDistance) {\n    robots[robotId] = robots[robotId] || {};\n    robots[robotId].distance = parseFloat(data);\n    robots[robotId].lastUpdate = Date.now();\n    global.set('robots', robots);\n    \n    if (mode === 'peloton') {\n        return traiterPeloton();\n    }\n    if (mode === 'cooperatif') {\n        return traiterCooperatif();\n    }\n    return null;\n}\n\nif (isPosition && typeof data === 'string') {\n    if (data.startsWith('ENTREE')) {\n        var infos = data.split(':');\n        robots[robotId] = robots[robotId] || {};\n        robots[robotId].zone = 'stockage';\n        robots[robotId].voie = infos[1] === 'GAUCHE' ? 'A' : 'B';\n        robots[robotId].distance = infos[2] ? parseFloat(infos[2]) : 0;\n        robots[robotId].timestamp = Date.now();\n        robots[robotId].actif = true;\n        \n        if (!listePresence.includes(robotId)) {\n            listePresence.push(robotId);\n            global.set('listePresence', listePresence);\n        }\n        node.status({ fill: 'blue', shape: 'dot', text: robotId + ' entrée voie ' + robots[robotId].voie });\n        \n    } else if (data === 'SORTIE') {\n        if (zoneConflit.robot === robotId) {\n            zoneConflit.occupee = false;\n            zoneConflit.robot = null;\n            global.set('zoneConflit', zoneConflit);\n        }\n        if (robots[robotId]) {\n            robots[robotId].zone = 'sortie';\n            robots[robotId].actif = false;\n        }\n        listePresence = listePresence.filter(r => r !== robotId);\n        global.set('listePresence', listePresence);\n        node.status({ fill: 'green', shape: 'dot', text: robotId + ' sorti' });\n    } else if (data.includes('OBSTACLE')) {\n        if (robots[robotId]) {\n            robots[robotId].obstacle = true;\n        }\n        node.status({ fill: 'red', shape: 'dot', text: robotId + ' OBSTACLE' });\n    }\n}\n\nglobal.set('robots', robots);\n\nvar ordres = [];\n\n// ========== MODE FEU ==========\nif (mode === 'feu') {\n    return null;\n}\n\n// ========== MODE COOPERATIF ==========\nelse if (mode === 'cooperatif') {\n    return traiterCooperatif();\n}\n\n// ========== MODE PELOTON ==========\nelse if (mode === 'peloton') {\n    return traiterPeloton();\n}\n\n// Fonction coopératif\nfunction traiterCooperatif() {\n    var ordresCoop = [];\n    var robotsEnAttente = Object.keys(robots).filter(r => \n        robots[r].zone === 'stockage' && robots[r].actif\n    );\n    \n    if (!zoneConflit.occupee && robotsEnAttente.length > 0) {\n        robotsEnAttente.sort((a, b) => (robots[b].distance || 0) - (robots[a].distance || 0));\n        var plusProche = robotsEnAttente[0];\n        \n        zoneConflit.occupee = true;\n        zoneConflit.robot = plusProche;\n        robots[plusProche].zone = 'conflit';\n        global.set('zoneConflit', zoneConflit);\n        global.set('robots', robots);\n        \n        ordresCoop.push({ robot: plusProche, ordre: 'GO' });\n        robotsEnAttente.slice(1).forEach(r => ordresCoop.push({ robot: r, ordre: 'STOP' }));\n        node.status({ fill: 'green', shape: 'dot', text: plusProche + ' GO (plus proche)' });\n        \n    } else if (zoneConflit.occupee) {\n        robotsEnAttente.filter(r => r !== zoneConflit.robot).forEach(r => {\n            ordresCoop.push({ robot: r, ordre: 'STOP' });\n        });\n        if (zoneConflit.robot && robots[zoneConflit.robot]) {\n            ordresCoop.push({ robot: zoneConflit.robot, ordre: 'GO' });\n        }\n    }\n    \n    if (ordresCoop.length > 0) {\n        return [ordresCoop.map(o => ({ payload: o }))];\n    }\n    return null;\n}\n\n// Fonction peloton\nfunction traiterPeloton() {\n    var DISTANCE_SECURITE = 200;\n    var ordresPeloton = [];\n    \n    var robotsActifs = listePresence.filter(r => \n        robots[r] && robots[r].actif && \n        (robots[r].zone === 'stockage' || robots[r].zone === 'conflit')\n    );\n    \n    if (robotsActifs.length === 0) return null;\n    \n    var leader = robotsActifs[0];\n    \n    if (!zoneConflit.occupee) {\n        zoneConflit.occupee = true;\n        zoneConflit.robot = leader;\n        robots[leader].zone = 'conflit';\n        global.set('zoneConflit', zoneConflit);\n        global.set('robots', robots);\n    }\n    \n    ordresPeloton.push({ robot: leader, ordre: 'GO' });\n    \n    for (var i = 1; i < robotsActifs.length; i++) {\n        var robotDevant = robotsActifs[i - 1];\n        var distanceRobotDevant = robots[robotDevant].distance || 0;\n        ordresPeloton.push({ \n            robot: robotsActifs[i], \n            ordre: 'FOLLOW:' + distanceRobotDevant\n        });\n    }\n    \n    node.status({ fill: 'yellow', shape: 'dot', text: 'Peloton: ' + robotsActifs.length + ' robots' });\n    \n    if (ordresPeloton.length > 0) {\n        return [ordresPeloton.map(o => ({ payload: o }))];\n    }\n    return null;\n}\n\nif (ordres.length > 0) {\n    return [ordres.map(o => ({ payload: o }))];\n}\nreturn null;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 140,
    "wires": [["b47be341cea65660"]]
  },
  {
    "id": "b47be341cea65660",
    "type": "split",
    "z": "8b880271ad748015",
    "name": "Split Ordres",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 630,
    "y": 140,
    "wires": [["092f098583a3ccd2"]]
  },
  {
    "id": "092f098583a3ccd2",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Dispatch Ordres",
    "func": "if (!msg.payload || !msg.payload.robot) return null;\n\nvar ordre = msg.payload;\nmsg.topic = 'controleur/' + ordre.robot + '/ordre';\nmsg.payload = ordre.ordre;\n\nnode.status({ fill: 'green', shape: 'dot', text: ordre.robot + ': ' + ordre.ordre });\n\nreturn msg;",
    "outputs": 1,
    "x": 820,
    "y": 140,
    "wires": [["4994a8220ae5ba48", "7f482c824d7e5bde"]]
  },
  {
    "id": "7f482c824d7e5bde",
    "type": "debug",
    "z": "8b880271ad748015",
    "name": "Debug Ordres",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "x": 1010,
    "y": 200,
    "wires": []
  },
  {
    "id": "4994a8220ae5ba48",
    "type": "mqtt out",
    "z": "8b880271ad748015",
    "name": "Envoyer Ordres",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 1020,
    "y": 140,
    "wires": []
  },
  {
    "id": "2c020f598b842403",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Timer Feu (5s)",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 280,
    "wires": [["8a0172d8b2140aea"]]
  },
  {
    "id": "8a0172d8b2140aea",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Feu Circulation (X robots)",
    "func": "var mode = global.get('mode') || 'feu';\nif (mode !== 'feu') return null;\n\nvar robots = global.get('robots') || {};\nvar phase = global.get('phase') || 'A';\n\nvar robotsVoieA = Object.keys(robots).filter(r => robots[r].voie === 'A' && robots[r].actif);\nvar robotsVoieB = Object.keys(robots).filter(r => robots[r].voie === 'B' && robots[r].actif);\n\nvar ordres = [];\n\nif (phase === 'A') {\n    robotsVoieA.forEach(r => ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'GO' }));\n    robotsVoieB.forEach(r => ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'STOP' }));\n    global.set('phase', 'ROUGE_AB');\n    node.status({ fill: 'green', shape: 'dot', text: 'Phase A (GAUCHE) - ' + robotsVoieA.length + ' robots' });\n    \n} else if (phase === 'ROUGE_AB') {\n    Object.keys(robots).filter(r => robots[r].actif).forEach(r => {\n        ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'STOP' });\n    });\n    global.set('phase', 'B');\n    node.status({ fill: 'red', shape: 'dot', text: 'Rouge intégral' });\n    \n} else if (phase === 'B') {\n    robotsVoieB.forEach(r => ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'GO' }));\n    robotsVoieA.forEach(r => ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'STOP' }));\n    global.set('phase', 'ROUGE_BA');\n    node.status({ fill: 'yellow', shape: 'dot', text: 'Phase B (DROITE) - ' + robotsVoieB.length + ' robots' });\n    \n} else {\n    Object.keys(robots).filter(r => robots[r].actif).forEach(r => {\n        ordres.push({ topic: 'controleur/' + r + '/ordre', payload: 'STOP' });\n    });\n    global.set('phase', 'A');\n    node.status({ fill: 'red', shape: 'dot', text: 'Rouge intégral' });\n}\n\nif (ordres.length > 0) {\n    return [ordres];\n}\nreturn null;",
    "outputs": 1,
    "x": 380,
    "y": 280,
    "wires": [["4db7c9ce7d8d8d91"]]
  },
  {
    "id": "4db7c9ce7d8d8d91",
    "type": "split",
    "z": "8b880271ad748015",
    "name": "Split",
    "splt": "\\n",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "",
    "x": 570,
    "y": 280,
    "wires": [["a526e6d7a273d0b8"]]
  },
  {
    "id": "a526e6d7a273d0b8",
    "type": "mqtt out",
    "z": "8b880271ad748015",
    "name": "Ordres Feu",
    "topic": "",
    "qos": "0",
    "retain": "false",
    "broker": "mqtt_broker",
    "x": 730,
    "y": 280,
    "wires": []
  },
  {
    "id": "43e9b618c30e1865",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Mode: Feu",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": "0.5",
    "topic": "",
    "payload": "feu",
    "payloadType": "str",
    "x": 120,
    "y": 380,
    "wires": [["933455698448a95c"]]
  },
  {
    "id": "ceff8695fbd7733a",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Mode: Coopératif",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "cooperatif",
    "payloadType": "str",
    "x": 140,
    "y": 420,
    "wires": [["933455698448a95c"]]
  },
  {
    "id": "3262c9d53a83d2fe",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Mode: Peloton",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "peloton",
    "payloadType": "str",
    "x": 130,
    "y": 460,
    "wires": [["933455698448a95c"]]
  },
  {
    "id": "933455698448a95c",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Set Mode",
    "func": "global.set('mode', msg.payload);\nglobal.set('robots', {});\nglobal.set('zoneConflit', { occupee: false, robot: null });\nglobal.set('phase', 'A');\nglobal.set('listePresence', []);\nnode.status({ fill: 'green', shape: 'dot', text: 'Mode: ' + msg.payload });\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 420,
    "wires": [["b43ecf69a8bb37ff"]]
  },
  {
    "id": "b43ecf69a8bb37ff",
    "type": "debug",
    "z": "8b880271ad748015",
    "name": "Mode Actif",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 530,
    "y": 420,
    "wires": []
  },
  {
    "id": "3b873fde235672a3",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Refresh Status",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "2",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 520,
    "wires": [["c99d4fc1a1cb36ea"]]
  },
  {
    "id": "c99d4fc1a1cb36ea",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Status Dashboard",
    "func": "var robots = global.get('robots') || {};\nvar zone = global.get('zoneConflit') || {};\nvar mode = global.get('mode') || 'feu';\nvar phase = global.get('phase') || 'A';\n\nvar nbRobots = Object.keys(robots).length;\nvar nbActifs = Object.keys(robots).filter(r => robots[r].actif).length;\n\nnode.status({ fill: 'blue', shape: 'dot', text: nbActifs + '/' + nbRobots + ' robots actifs' });\n\nmsg.payload = {\n    mode: mode,\n    phase: phase,\n    totalRobots: nbRobots,\n    robotsActifs: nbActifs,\n    robots: robots,\n    zoneConflit: zone\n};\n\nreturn msg;",
    "outputs": 1,
    "x": 370,
    "y": 520,
    "wires": [["c96d7f1847c0bbfd"]]
  },
  {
    "id": "c96d7f1847c0bbfd",
    "type": "debug",
    "z": "8b880271ad748015",
    "name": "Status Global",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "x": 570,
    "y": 520,
    "wires": []
  },
  {
    "id": "eb7338ecadac9c12",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Reset Robots",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "topic": "",
    "payload": "reset",
    "payloadType": "str",
    "x": 130,
    "y": 580,
    "wires": [["6a1c85890f68abf9"]]
  },
  {
    "id": "6a1c85890f68abf9",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Reset All",
    "func": "global.set('robots', {});\nglobal.set('zoneConflit', { occupee: false, robot: null });\nglobal.set('phase', 'A');\nglobal.set('listePresence', []);\nnode.status({ fill: 'yellow', shape: 'ring', text: 'Reset effectué' });\nmsg.payload = 'Tous les robots réinitialisés';\nreturn msg;",
    "outputs": 1,
    "x": 340,
    "y": 580,
    "wires": [["c96d7f1847c0bbfd"]]
  },
  {
    "id": "dropdown_mode_ctrl",
    "type": "ui_dropdown",
    "z": "8b880271ad748015",
    "name": "Mode",
    "label": "Mode de fonctionnement",
    "tooltip": "",
    "place": "Choisir...",
    "group": "group_mode_ui",
    "order": 1,
    "width": "6",
    "height": "1",
    "passthru": true,
    "multiple": false,
    "options": [
      {
        "label": "🚦 Feu de circulation",
        "value": "feu",
        "type": "str"
      },
      {
        "label": "🤝 Accès coopératif",
        "value": "cooperatif",
        "type": "str"
      },
      {
        "label": "🚗 Peloton virtuel",
        "value": "peloton",
        "type": "str"
      }
    ],
    "payload": "",
    "topic": "mode",
    "x": 870,
    "y": 380,
    "wires": [["func_set_mode_ui"]]
  },
  {
    "id": "func_set_mode_ui",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Appliquer Mode UI",
    "func": "global.set('mode', msg.payload);\nglobal.set('robots', {});\nglobal.set('zoneConflit', { occupee: false, robot: null });\nglobal.set('phase', 'A');\nglobal.set('listePresence', []);\nnode.status({ fill: 'green', shape: 'dot', text: 'Mode: ' + msg.payload });\nreturn msg;",
    "outputs": 1,
    "x": 1070,
    "y": 380,
    "wires": [[]]
  },
  {
    "id": "inject_update_ui",
    "type": "inject",
    "z": "8b880271ad748015",
    "name": "Update UI",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "1",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "payload": "",
    "payloadType": "date",
    "x": 870,
    "y": 460,
    "wires": [["func_get_state"]]
  },
  {
    "id": "func_get_state",
    "type": "function",
    "z": "8b880271ad748015",
    "name": "Lire État",
    "func": "var phase = global.get('phase') || 'A';\nvar robots = global.get('robots') || {};\nvar mode = global.get('mode') || 'feu';\n\nvar voieGauche = 'STOP';\nvar voieDroite = 'STOP';\n\nif (phase === 'A') {\n    voieGauche = 'GO';\n    voieDroite = 'STOP';\n} else if (phase === 'B') {\n    voieGauche = 'STOP';\n    voieDroite = 'GO';\n}\n\nvar listeRobots = [];\nfor (var id in robots) {\n    var r = robots[id];\n    if (r.actif) {\n        listeRobots.push(id + ': voie ' + (r.voie || '?') + ' (' + (r.zone || '?') + ') dist:' + (r.distance || 0));\n    }\n}\n\nreturn [\n    { payload: phase + ' (' + mode + ')' },\n    { payload: voieGauche },\n    { payload: voieDroite },\n    { payload: listeRobots.length > 0 ? listeRobots.join(' | ') : 'Aucun robot actif' }\n];",
    "outputs": 4,
    "x": 1030,
    "y": 460,
    "wires": [
      ["text_phase_display"],
      ["template_feu_gauche"],
      ["template_feu_droite"],
      ["text_robots_list"]
    ]
  },
  {
    "id": "text_phase_display",
    "type": "ui_text",
    "z": "8b880271ad748015",
    "group": "group_feu_ui",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Phase",
    "label": "Phase actuelle",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1230,
    "y": 420,
    "wires": []
  },
  {
    "id": "template_feu_gauche",
    "type": "ui_template",
    "z": "8b880271ad748015",
    "group": "group_feu_ui",
    "name": "Feu Gauche",
    "order": 2,
    "width": "3",
    "height": "3",
    "format": "<div style=\"text-align:center;\">\n    <div style=\"font-size:16px;font-weight:bold;margin-bottom:8px;\">VOIE A (GAUCHE)</div>\n    <div style=\"\n        width: 70px;\n        height: 70px;\n        border-radius: 50%;\n        margin: 0 auto;\n        background-color: {{msg.payload === 'GO' ? '#00B500' : '#CA3838'}};\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-weight: bold;\n        font-size: 18px;\n        box-shadow: 0 0 15px {{msg.payload === 'GO' ? '#00B500' : '#CA3838'}};\n    \">{{msg.payload}}</div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 1250,
    "y": 460,
    "wires": [[]]
  },
  {
    "id": "template_feu_droite",
    "type": "ui_template",
    "z": "8b880271ad748015",
    "group": "group_feu_ui",
    "name": "Feu Droite",
    "order": 3,
    "width": "3",
    "height": "3",
    "format": "<div style=\"text-align:center;\">\n    <div style=\"font-size:16px;font-weight:bold;margin-bottom:8px;\">VOIE B (DROITE)</div>\n    <div style=\"\n        width: 70px;\n        height: 70px;\n        border-radius: 50%;\n        margin: 0 auto;\n        background-color: {{msg.payload === 'GO' ? '#00B500' : '#CA3838'}};\n        display: flex;\n        align-items: center;\n        justify-content: center;\n        color: white;\n        font-weight: bold;\n        font-size: 18px;\n        box-shadow: 0 0 15px {{msg.payload === 'GO' ? '#00B500' : '#CA3838'}};\n    \">{{msg.payload}}</div>\n</div>",
    "storeOutMessages": true,
    "fwdInMessages": true,
    "x": 1250,
    "y": 500,
    "wires": [[]]
  },
  {
    "id": "text_robots_list",
    "type": "ui_text",
    "z": "8b880271ad748015",
    "group": "group_robots_ui",
    "order": 1,
    "width": "12",
    "height": "2",
    "name": "Robots",
    "label": "🤖 Robots actifs",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "x": 1230,
    "y": 540,
    "wires": []
  }
]
